/* RESET RULE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header{
    width: 100%;
    height: 100vh;
    /* background-image: url(images/background.png); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* .site-heading {
    background-color: #0f5c6c;
    color: white;
    text-align: center;
    padding: 50px 0;
    
} */

h2{

    font-size: 2.5rem;
    text-align: center;

} 

/* .site-heading nav {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.site-heading a{
    text-decoration: none;
    color: inherit;
}    */

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url(assets/womanimage.png);
    background-size: cover;
    background-position: center;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content:'';
    width: 0%;
    height: 3px;
    background: #34f6f2;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px ;
}

.header-text h1 span{
    color: #34f6f2
}

/* -----This is the case study section */
.box{
    display: inline-block;
    padding: 10px;
    margin: 20px;
}


.pictureconatiner {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    
}

.button{
    background: #34f6f2;
    color: #000;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 20px;
    transition: .4s;
}

button:hover{
    background: white;
    border: 2px solid #000;
    cursor: pointer;
}

p{
    font-size: 20px;
    padding: 10px;
}

.casestudies{
    
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.casestudies h2{
    font-size: 30px;
    padding-top: 100px;
   
}

.casestudies h2 span a{
    color: #34f6f2;
    margin: 10px;
}

/* ---This is the Tool Kit section--- */

.toolkit{
    
    margin-top: 100px;
    
}

.toolkit h2{
    text-align: center;
}


.iconcontainer{

    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;
    
}

.iconbox{
    display: inline-block;
    padding: 10px;
    margin: 20px;
}

.banner {
    background-color: #fff;
    color: black;
    font-weight:bold;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    display: block;
}

.banner p{
    font-size: 28px;
}

/* ---This is the footer */

.social{
    
    justify-content: center;
    margin: 0;
}



.foot{
    background-color: #080808;
    color: #fff;
    padding: 70px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    font-size: 12px;
}

/* .foot p{
    text-align: justify;
   
    
} */






